[2018-05-28 23:11] BastiaanOlij opened #1 "Improve build files"
Currently this project uses an Android make file to build, need to investigate either moving that into the root and completing it so the library end up in ```demo/addons/godot_gearvr``` or complete the scons build system for Android (my preference)

[2018-05-28 23:13] BastiaanOlij opened #2 "Officially add API for Android to Godot Core"
GearVR requires access to certain platform dependent elements currently only accessible inside of the Godot Android source in the core. For now we've hacked this into GDNative to get things going but we need to implement proper API enhancements into GDNative in the Godot core.

[2018-05-29 11:02] Paritosh97 commented on #1
The export directory can be set by using the NDK_LIBS_OUT flag along with ndk-build command. Still, building share libraries using scons will be a better approach.

[2018-05-29 13:56] BastiaanOlij commented on #1
In the weekend i'll see how far I get with compiling on my end, and hopefully find some time to try out Karroffels latest GLES2 branch.

[2018-06-09 01:41] BastiaanOlij commented on #1
@Paritosh97 as long as you're using the android make files instead of scons, could you update the readme with instructions for this? Also note that I merged the PR with the new folder structure for addons

[2018-06-16 00:42] BastiaanOlij opened #7 "Add clang format"
We should add a clang format file into our project just to keep formatting consistent.

[2018-06-28 11:45] #7 closed

[2018-06-28 11:47] BastiaanOlij opened #12 "Compiler errors ovrTextureSwapChain"
Seems there is an issue with ovrTextureSwapChain :)

[code]

[2018-06-28 11:49] BastiaanOlij commented on #2
This was added to the code :)

https://github.com/godotengine/godot/pull/19591

[2018-06-28 11:49] #2 closed

[2018-06-28 11:52] BastiaanOlij opened #13 "Stereo rendering on GearVR"
Just raising this for discussion purposes and recording info.

For GearVR our interface takes over output to screen from Godot. This means our interface is always used on the primary viewport and we simply provide our render buffers to GearVR.

More info to follow...

[2018-06-28 14:52] Paritosh97 commented on #12
My bad. Forgot to recompile before merge.
Fixed in #14

[2018-06-28 14:52] #12 closed

[2018-06-29 10:52] BastiaanOlij opened #18 "It now compiles, gets exported correctly, loaded, initialised, and crashes :)"
Hey Paritosh,

Seeing your phone probably doesn't get this far, this is whats written to the logs:
[code]

So the "================================" I add right before initialising, after that you can see that it calls VrAppLoader and getting feedback about the version, so it's getting pretty far.

It then crashes on an incompatible version error... Now that could very well be because my note 4 is

[2018-06-30 02:10] Paritosh97 commented on #18
I think it's fixed in #17 and can be closed.

[2018-06-30 15:36] kmare opened #19 "Android Daydream VR"
I know this is about the GearVR, but as far as I understand it, Daydream VR should be pretty similar. Is it possible for this code base to support it as well or would it need a different approach?

Thank you in advance!

[2018-06-30 16:10] Paritosh97 commented on #19
Daydream and Cardboard or Google VR won't be implemented as a GDNative
module, we plan to bind it directly to the core(somewhat similar to the
Native mobile interface)
I did make a start to it, but there's a long way to go.

On Sat, Jun 30, 2018, 9:06 PM Ioannis Panteleakis <notifications@github.com>
wrote:

[2018-06-30 16:32] kmare commented on #19
Thank you for your answer and your work. Did you upload anything to a repo that I could check out?

[2018-07-01 07:00] Paritosh97 commented on #19
[https://github.com/Paritosh97/godot/tree/google_vr/modules/google_vr](url)
There is a lot of stuff yet to be implemented, most of the code is simply copied from Native mobile.

[2018-07-21 22:09] #18 closed

[2019-03-27 18:07] m4gr3d opened #21 "Rename repo to godot_oculus_mobile"
The [Oculus mobile SDK](https://developer.oculus.com/downloads/package/oculus-mobile-sdk/) powers the GearVR, Oculus Go, and upcoming Oculus Quest headsets.
As such, it'd be more appropriate to rename this repo to reflect that fact. The current name might confuse users and contributors as well.

[2019-03-30 20:47] m4gr3d commented on #21
@BastiaanOlij Thoughts?

[2019-03-30 23:37] DEF7 commented on #21
I second this.

[2019-03-31 06:56] BastiaanOlij commented on #21
With the Go and Quest, yes I will be doing this soon. Have a few more things to finish before I'm back on this but the rename makes a lot of sense

[2019-03-31 08:06] BastiaanOlij commented on #21
Ok, I've renamed this but not done any more changes to the repo itself. I'm still working on #20 in which I did add a bit more descriptions.

Upstream we have to finish https://github.com/godotengine/godot/pull/27010 first so we can get proper access to our viewport stuff.

I'm also working on this: https://github.com/godotengine/godot/pull/27527 which should help out loads here as well.

[2019-03-31 17:58] m4gr3d commented on #21
Sounds good. I'm still getting up to speed on Godot's interface architecture. Once I do, I should be able to help complete #20.

[2019-03-31 17:58] #21 closed

[2019-04-10 02:48] BastiaanOlij commented on #13
I'm closing this, recent changes to Godot master allow us to do what Oculus recommends.

[2019-04-10 02:48] #13 closed

[2019-04-10 02:49] BastiaanOlij commented on #1
@m4gr3d have you got any ideas here? Maybe change this over to gradle?

[2019-06-03 06:05] m4gr3d commented on #1
@BastiaanOlij I recommend using cmake build files instead. I've [setup and configured one](https://github.com/m4gr3d/godot_oculus_mobile/blob/dev/CMakeLists.txt) for the project in my fork, and I've elaborated in [commit #a630c9c](https://github.com/m4gr3d/godot_oculus_mobile/commit/a630c9cb33bc396a5754fad2c1f070b651c7c63b) about the benefit for using cmake instead of ndk-build and scons.

[2019-06-04 10:37] BastiaanOlij commented on #1
@m4gr3d I have a love hate relationship with cmake but in the end I'm pragmatic, if you have the best success making this work with cmake, by all means. Just make sure it works on Windows, cmake always gives me a hard time on Windows.

[2019-06-06 21:51] m4gr3d commented on #1
@BastiaanOlij I primarily develop on mac but I have a windows machine as well so I can make sure it also works on Windows.
What is your setup on Windows, so I can try to replicate and ensure cmake works well.

I have primarily been using Android Studio and CLion both on mac and Windows.

[2019-06-06 21:56] BastiaanOlij commented on #1
Hey Fredia,

I have the Microsoft toolset but i try and avoid using visual studio, i
just have it installed for the command line tools:)

Possibly why i always run into trouble using cmake and build makefiles for
nmake

I work on a Mac for work but VR and Macbooks are a poor combo:(

On Fri, 7 Jun 2019 at 7:51 am, Fredia Huya-Kouadio <notifications@github.com>
wrote:

--
Kindest regards,

Bastiaan

[2019-06-16 09:47] m4gr3d commented on #1
This issue should be resolved by PR #23!

[2019-06-16 09:57] #1 closed

[2019-07-06 02:59] creikey opened #25 "Update the README"
With the [godot PR](https://github.com/godotengine/godot/pull/29824) that the readme says was necessary for this asset to work being merged into the master of Godot, and with no issues in this repository remaining, the README should be updated to reflect the current state of this project and remove the `<wip>` tags

[2019-07-07 03:54] creikey opened #26 "Sluggishness while running"
While running the demo on the oculus quest, as you look around, there is a noticeable latency, causing motion sickness

[2019-07-07 05:29] creikey commented on #26
this is an issue with unit size and a lack of frame of reference it seems

[2019-07-07 05:30] creikey opened #27 "ARVR Camera recentered on startup"
when starting the demo application while standing up, the game world's camera is intersecting with the ground, where it should be standing up as well.

[2019-07-07 05:37] Schroedi commented on #26
I had the same problem on the quest. Can you check if you get late frames with the on device performance overlay? https://developer.oculus.com/documentation/mobilesdk/latest/concepts/mobile-ovrmetricstool/

If you get late frames, you could try my patch: https://github.com/GodotVR/godot_oculus_mobile/pull/24

[2019-07-08 15:52] creikey commented on #26
@Schroedi Sure

[2019-07-08 16:38] DEF7 commented on #26
Just my two cents: in my experience with the PC Oculus SDK "LibOVR" the
tracking time that you receive from the API and pass back just before
rendering for the time/space warp stuff had some trick to it. I integrated
it into my engine and had the same problem. At the end of the day I had to
GetPredictedDisplayTime and GetTrackingState immediately after calling
BeginFrame - and generate my frame en

[2019-07-10 23:04] creikey commented on #26
I'm reopening this as after continuous tweaking of various sizes of objects there is still a slugishness "off" feeling.

[2019-07-10 23:22] creikey commented on #26
@Schroedi After trying your patch - #24 - I was still getting up to 70 stale frames averaging at about around 40, in contrast to the oculus home and every single other oculus demo app, which gets are 5 stale frames. It seems as if oculus quest godot vr support is just absolutely broken.

[2019-07-24 12:13] creikey commented on #26
@DEF7 Yes, I believe that the oculus mobile sdk docs suggest doing just that, using the predicted display time sampled at when begin frame is called.

[2019-07-24 14:58] Schroedi commented on #26
@DEF7, @creikey I think this is what the first commit in #24 does.
I took a look at my build again and discovered that I also enable the extra latency mode. If you have some time to test my update in #24, I would appreciate your feedback.

[2019-07-24 22:41] creikey commented on #26
@Schroedi That line of code seems very strange, maybe adding a frame of latency helps the time warp?

[2019-07-24 23:24] creikey opened #29 "PanoramaSky broken"
While the galaxy texture in the demo looks normal in the editor, upon running it on the oculus quest, the texture is squished into the middle beyond recognition.

[2019-07-24 23:28] DEF7 commented on #26
The Oculus documentation explains the situation with SwapInterval and ExtraLatency here: https://developer.oculus.com/documentation/quest/latest/concepts/mobile-vrapi/#mobile-vrapi

It is a contingency for programs which are unable to render frames quickly enough. Not necessarily framerate, just the actual time it takes from when the VrAPI returns control to the program to when it expects the fini

[2019-07-25 02:44] m4gr3d commented on #25
Thanks for the reminder @creikey. I'll push a PR shortly to update the readme.

[2019-07-26 02:42] creikey commented on #29
This is an issue with this repo as an export to a normal android phone has a normal galaxy texture.

[2019-07-26 03:00] creikey commented on #29
I have no idea how this bug is even occurring within the limited code that exists in this repo. The only file that seems to have something to do with rendering is `src/framebuffer.cpp` so I'm going to assume that there's a mistake somewhere in there.

[2019-07-26 03:47] creikey commented on #29
This seems to have been fixed on the actual sdk of the oculus quest with the new firmware update.

[2019-07-26 03:58] creikey opened #31 "Controller tracking broken on oculus quest"
Controller tracking no longer works with the newest firmware update.

[2019-07-26 05:46] m4gr3d commented on #31
@creikey Are you referring to the issue with only having one controller show up at a time on Quest?
If so, the fix for that issue is described [here](https://www.reddit.com/r/OculusQuest/comments/chjpu5/fix_for_sideloadedhomebrew_apps_and_games_with/) and I'll be pushing an update to the Godot engine to include it.

[2019-07-26 05:47] m4gr3d commented on #19
Closing this issue since this repo primarily focuses on the Oculus mobile devices.

[2019-07-26 05:47] #19 closed

[2019-07-26 22:24] creikey commented on #31
Ah yes, that's exactly the issue! It seems as if without that line in the android config, only one of the controllers works and there's only 3dof movement. I look forward to it being implemented in the Godot engine.

[2019-07-26 22:24] #31 closed

[2019-07-26 22:51] creikey commented on #31
@m4gr3d I've opened an issue on godot here: https://github.com/godotengine/godot/issues/30854

[2019-07-28 18:03] creikey commented on #29
For some reason this seems to be broken again.

[2019-07-29 04:17] m4gr3d commented on #25
Fixed by PR #30.

[2019-07-29 04:17] #25 closed

[2019-07-29 05:53] m4gr3d opened #32 "Invalid eye transform"
The plugin doesn't seem to properly set the eye transforms as the rendered 3D content is not stereoscopic.

[2019-07-29 08:06] #27 closed

[2019-07-31 23:55] m4gr3d commented on #26
Fixed by PR #24.

[2019-07-31 23:55] #26 closed

[2019-08-01 19:59] NeoSpark314 opened #33 "No lighting rendered"
With the current master and the demo application I get no lighting in the demo scene only black geometry (emissive material also seems not to work, but the panorama seems to be correctly rendered)

![quest_bug_noLighting_01 09 2019_small](https://user-images.githubusercontent.com/1610621/62323212-149ecb80-b4a7-11e9-9f57-8ac79214e4de.jpg)

[2019-08-01 20:01] NeoSpark314 commented on #32
I can observer the same issue when running the demo application on my quest. In the attached screenshot with only the table it looks like no stereo separation at all.

![quest_bug_noStereo_01 09 2019_small](https://user-images.githubusercontent.com/1610621/62323577-e4a3f800-b4a7-11e9-962e-c3e24a566e07.jpg)

[2019-08-01 20:12] m4gr3d commented on #33
@NeoSpark314 Stereo rendering is being tracked by issue #32, so can you update this bug's title accordingly.

Regarding stereo rendering, I've found the cause of the issue and am resolving it in commit 39090dff5ef710c713e6ef318302e167131b842c, but that unveiled another clipping issue that I'm looking into (i.e: objects don't render unless close to the headset).

[2019-08-02 19:58] NeoSpark314 commented on #33
I did some further testing. It seems to be an issue with export and with the GLES2 renderer. Exporting with GLES3 looks fine from a lighting perspective. Also it is probably not related to the oculus mobile plugin. When exporting for linux x86_64 the GLES2 render version also renders black (but it works fine in the editor).

[2019-08-03 19:32] NeoSpark314 commented on #33
This issue was fixed by https://github.com/godotengine/godot/pull/31062 in godot master.

[2019-08-03 19:32] #33 closed

[2019-08-04 15:26] NeoSpark314 commented on #32
Hi,

i tried your changes that you mentioned previously from your branch at https://github.com/m4gr3d/godot_oculus_mobile/tree/fix_invalid_eye_transform.

I also tried to rewrite the the OvrMobileSession::get_transform_for_eye function to use directly the data provided in head_tracker.Eye[eye].ViewMatrix from the ovr SDK. This is how the VrCubeWorld_NativeActivity sample renders. This is also how

[2019-08-05 03:46] m4gr3d commented on #32
@NeoSpark314 Good catch! Using the ViewMatrix is definitely the way to go.
I'm making headway with the clipping issue. The `visual_server_scene` has some strange logic to calculate the camera frustum when in VR, and disabling that logic fixes the clipping issue ([here's the relevant commit](https://github.com/m4gr3d/godot/commit/552011a8d7b1593f52bb9af8035a1b61743a0e3e).

@BastiaanOlij any idea wh

[2019-08-05 04:06] m4gr3d commented on #32
@BastiaanOlij In addition, that change seems to drastically improve performance for the oculus mobile plugin. To a point where the requirement to enable extra latency mode (added by PR #24) is no longer necessary.

[2019-08-05 04:25] BastiaanOlij commented on #32
The code in the visual server attempts to create a view frustum that
encompasses the frustums of both eyes so we only need to cull once and do
stuff like updating shadows once. It may be that it fails if the frustums
are identical or not set up right.

On Mon, 5 Aug 2019 at 2:06 pm, Fredia Huya-Kouadio <notifications@github.com>
wrote:

--
Kindest regards,

Bastiaan Olij

https://www.facebook.com/

[2019-08-05 04:28] BastiaanOlij commented on #32
Btw, the change you did in the visual server turns stereo rendering off,
now you’re just rendering a normal camera. It makes sense it ‘fixes’ the
culling if it could merge the frustums together (which it only uses for
culling)

On Mon, 5 Aug 2019 at 2:25 pm, Bastiaan Olij <mux213@gmail.com> wrote:

--
Kindest regards,

Bastiaan Olij

https://www.facebook.com/bastiaan.olij
https://twitter.com/mux21

[2019-08-05 04:44] Schroedi commented on #32
I have the same culling problem when using two asymmetrical projection
matrices for stereo rendering on the Powerwall. Could the code for
combining the frustums have a problem with of center projections?

On Mon, Aug 5, 2019, 06:28 Bastiaan Olij <notifications@github.com> wrote:

[2019-08-05 04:44] m4gr3d commented on #32
Can you clarify how stereo rendering is turned off?

Before the change, the logic would call `_prepare_scene` once with the combined frustum, and call `_render_scene` twice, once for each eye.
With the disabling change, the logic is calling both `_prepare_scene` and `_render_scene` twice, once for each eye.

When testing on the device, all 3d objects (controllers, table) are rendered at the proper

[2019-08-05 04:47] m4gr3d commented on #32
@Schroedi looking at the [comments](https://github.com/m4gr3d/godot/blob/552011a8d7b1593f52bb9af8035a1b61743a0e3e/servers/visual/visual_server_scene.cpp#L1789) I would assume so.

[2019-08-05 06:58] BastiaanOlij commented on #32
Thats what I get for reading it on a mobile phone :)

Yes you are right, it will do prepare and render twice, however it doesn't make sense that it would render differently when you prepare once with the combined frustum and then have problems calling render_scene. It is render_scene that will define the projection matrix and render out the scene. all prepare scene does is the culling and shadow u

[2019-08-05 07:00] BastiaanOlij commented on #32
One thing that may throw things off is that it is expecting the camera left/right offset for each eye to be returned in get_transform_for_eye not mixed in with the projection matrix returned by get_projection_for_eye

[2019-08-05 19:00] m4gr3d opened #34 "Add versioning to the plugin"

[2019-08-05 19:13] m4gr3d opened #35 "Enable customization of the Oculus mobile runtime parameters"
Add a set of api to enable customization of the Oculus mobile runtime parameters:
- [x] cpu/gpu level
- [x] fixed foveated rendering (FFR)
- [x] render target size
- [x] 72 / 60 Hz mode
- [x] swap interval
- [x] extra latency mode

[2019-08-06 20:38] NeoSpark314 commented on #32
Hi,

I think I found the issue with the clipping:

In **OvrMobileSession::fill_projection_for_eye** the oculus provided projection matrix is directly used and the given function parameters z_near and z_far are ignored.
This is fine in theory because the function **VisualServerScene::render_camera** in godot takes the projection matrix and computes near and far values from it for the merged frustum

[2019-08-07 03:13] BastiaanOlij commented on #32
Indeed, having an invalid far plane value would screw up the entire calculation.

Interesting choice from Oculus because the reason you don't have an infinite far plane is because the near<->far range directly impacts the precision of your Z-buffer. With an infinite far plane the depth buffer would fail to work properly.

So they're obviously doing more here.

[2019-08-07 03:16] BastiaanOlij commented on #32
(btw, if we check for z_far == 0 in the code that merges the frustums and change it to something arbitrary like 4096.0 (max value for the far plane property in Godot) in theory the logic will work.

[2019-08-07 03:42] NeoSpark314 commented on #32
The logic seems work even when setting z_far to +infinity if it was 0 but I did not check the result in detail.

Oculus references this paper to explain the choice https://www.cs.cornell.edu/~paulu/tightening.pdf and writes in there documentation
https://developer.oculus.com/reference/mobile/1.24/vr_api_helpers_8h/
"""
The projection matrix transforms -Z=forward, +Y=up, +X=right to the appropriate

[2019-08-07 04:53] m4gr3d commented on #32
Fixed by PR #36

[2019-08-07 04:53] #32 closed

[2019-08-07 06:05] m4gr3d opened #37 "Unable to restart Godot apps"
It's likely that we're not properly shutting down the godot engine when using Oculus 'Quit' interface. If using Android Studio's logcat, you can see that the app process is still running.

Force quitting the app (using the adb command, or Android Studio) allows the app to properly restart.

Repro steps:

1. Install and launch a Godot app on an Oculus device
2. Exit the app using the controller's h

[2019-08-15 19:47] NeoSpark314 commented on #29
I tried to look at bit deeper into the issue.  I have not yet understood what the actual issue is but here are my findings so far:
It seems to be related to the eye projection matrices. The projection matrices used are asymetrical which is a special path in the panorama sky shader (#define USE_ASYM_PANO):

It is checked here to set the proper shader parameters:
https://github.com/godotengine/godot

[2019-08-16 14:18] ajhager commented on #35
Hi @m4gr3d are you actively working on this ticket? I would love to jump in and work on these features, but I don't want to duplicate work.

[2019-08-16 16:45] m4gr3d commented on #35
@ajhager I haven't started working on this issue, so feel free to jump in :)

Do you have a design in mind for how to approach this task?
Some of the parameters listed above can be dynamically changed during runtime, while others have to be set when the vrapi is initialized, so we have to ensure this is still possible on Godot.
In addition, we should be able to set and update the parameters both f

[2019-08-16 17:19] NeoSpark314 commented on #29
Setting the constant here https://github.com/godotengine/godot/blob/de8ce3e625e74833aec6a5d165e7e82100a1dbf3/drivers/gles3/shaders/copy.glsl#L172 to
`cube_normal.z = -1.0;`
instead of -1000000.0 solves the issue.

Also I just realized that the actual shader code:
[code]
from a mathematical (not numerical) perspective should produce an identical result independent of what the magnitude of cube_norm

[2019-08-16 18:57] ajhager commented on #35
I did not have a design in mind, so I appreciate any guidance. We want to be able to support our games on the Quest and Go so we thought the best way would be to help improve the library. Can I ask questions here?

[2019-08-16 19:27] m4gr3d commented on #35
Sounds good, and yes this is a good place to ask questions!

[2019-08-17 16:40] zlsa commented on #37
Oculus does something unusual when quitting. I added event handlers for "requesting quit" and "focus lost", and neither of them are called when clicking the "quit" button in the Oculus UI.

[2019-08-17 16:44] m4gr3d commented on #37
@zlsa they perform the typical Android lifetime process when quitting: the app goes through onPause -> onStop -> on destroy.
It's the Godot native layer that's not cleaned up properly. Some of the native components are left running in the process, so when you try to restart, the app hangs since the components are in an invalid state.

[2019-08-17 16:46] zlsa commented on #37
Huh, I was mistaken. I remember having the exact same issue with Unity right when the Go came out, so I incorrectly assumed it was the same issue.

Thanks for the clarification!

[2019-08-17 16:51] m4gr3d commented on #37
No problem 😊.

There's a quick fix which is to force destroy the Android process when the app quit. This is not clean since you're suddenly killing the app, preventing any cleanup operations from completing.
I'll go with that solution first to unblock since the true fix is a lot more complex: tracing the native components that are initialized on startup, and ensure that they're properly stopped wh

[2019-08-17 17:07] zlsa commented on #37
A bit off-topic, but is there a way to perform the equivalent of Java's `System.exit(0)` in Godot? I don't see any way to force-quit a Godot app from GDScript.

[2019-08-18 04:15] m4gr3d commented on #37
Seems like that can be done by using [OS#kill](https://docs.godotengine.org/en/3.1/classes/class_os.html#class-os-method-kill) and [OS#get_process_id](https://docs.godotengine.org/en/3.1/classes/class_os.html#class-os-method-get-process-id).

[2019-08-18 23:33] esummers commented on #26
This appears to continue to be an issue on the Oculus Go in the latest dev build.  It is running a constant 60 fps, yet significant judder in the demo game.  I don't have a Quest to test with, but plan to pick one up next week.

[2019-08-20 12:36] NeoSpark314 commented on #29
The fix was merged to godot master so I think the issue can now be closed.

[2019-08-21 04:35] m4gr3d commented on #26
@esummers Which demo game are you referring to? And can you provide a dump of what OVR metrics reports on your device.

[2019-08-21 17:39] m4gr3d commented on #37
A temp solution was merged in master, so I'm updating the title and category accordingly.

[2019-08-21 17:54] m4gr3d commented on #37
Closing this issue as it's been replaced by [Godot#31541](https://github.com/godotengine/godot/issues/31541).

[2019-08-21 17:54] #37 closed

[2019-08-23 01:07] esummers commented on #26
The demo included with godot_oculus_mobile.  I'm seeing the issue on the Oculus Quest and Oculus Go, but more pronounced on the Go.  FPS is constant 72 fps.  GPU Utilization is constantly at 99%.  GPU Level is constantly at 5 (not sure what this means since docs don't show a level above 4).  This is a very simple scene.  I wouldn't expect the GPU to be at a constant 99%.  This may just be an issue

[2019-08-23 22:23] m4gr3d commented on #34
Fixed by pr #39

[2019-08-23 22:23] #34 closed

[2019-08-25 14:32] NeoSpark314 opened #41 "Not all quest touch controller buttons working"
When using the **ARVRController** in GDScript and querying the button state with
`is_button_pressed` not all buttons from the Oculus Touch Controller work; I tested the following ids that seem not to work even though they are set probably correctly set inside ovr_mobile_controller.cpp:
[code]
Button 11 `is_button_pressed(11) # ovrTouch_IndexTrigger` is toggled; but I'm not sure if it is the correc

[2019-08-25 18:41] NeoSpark314 commented on #41
I started looking a bit deeper into this issue. Here are my findings so far (I hope my analysis is correct):

The problem starts in godot/main/input_default.cpp at this line:
https://github.com/godotengine/godot/blob/6d6d4371467a94c01418e9d475e994fe61b7b4d0/main/input_default.cpp#L762
there it is checked if the pressed button id (p_button) has an assigned mapping (which it has not for several of t

[2019-08-27 19:06] NeoSpark314 commented on #41
I just tested it and it works great; now all controller button presses and button touches are recognized!

[2019-08-27 19:06] #41 closed

[2019-08-28 06:47] NeoSpark314 commented on #35
@m4gr3d: To me this sounds like a good idea. The only advantage of the single class approach I see is to keep the logical grouping from VrApi.h; but I agree that it would be much easier to document and use if everything that makes sense during runtime can be accessed via a single GDNative class. I think this would also make it easier to expose convenicen functions like you did for `get_supported_d

[2019-08-28 17:26] NeoSpark314 opened #43 "Config GDScript Classes only valid after enter_vr_mode()"
I just noticed that there is no check if the ovr mobile context is NULL at https://github.com/GodotVR/godot_oculus_mobile/blob/36393808d159bb7e0a495f7038b0f67790702aa3/src/config/config_common.h#L30

and that only after `bool OvrMobileSession::enter_vr_mode()` is called (https://github.com/GodotVR/godot_oculus_mobile/blob/36393808d159bb7e0a495f7038b0f67790702aa3/src/ovr_mobile_session.cpp#L254)  i

[2019-08-29 01:59] m4gr3d commented on #35
@NeoSpark314 I've pushed PR #44 based on our discussion. I'd appreciate any feedback!

[2019-08-29 07:26] NeoSpark314 commented on #35
Yes; I'll read through your PR and note in there what comes to my mind.

[2019-09-01 16:35] NeoSpark314 opened #45 "Costly Full FrameBuffer Copy in GLES3 Renderer"
Currently the GLES3 renderer seems to be setup to always perform a full frame copy after rendering even when no post processing is enabled (It then just does the Srgb conversion).
Below is a screenshot of a renderdoc trace that shows the frame copy for each eye that happens via a full screen quad.

On tile-based GPU architectures this is very expensive and according to this talk: https://www.youtu

[2019-09-01 17:37] NeoSpark314 opened #46 "Perceivable lag in oculus quest tracking"
There is a perceivable lag in tracking that seems not related to rendering performance.

The easiest reproducer for me is to have a simple unlit cube attached to the ARVRCcontroller and wave it in front of the eye. Then change to oculus home and do the same with the controller; the oculus home controller matches much better the hand movement.
Both applications have swap interval and extra latency

[2019-09-01 18:16] m4gr3d commented on #46
Have you tried setting the extra latency mode to 0 and see its effect on tracking performance as well?

[2019-09-01 18:29] NeoSpark314 commented on #46
Just tried it; hard to tell with my simple test case if it improves with VRAPI_EXTRA_LATENCY_MODE_OFF ovr ON.. it still feels not as snappy as the oculus home controller tracking when switching back and forth (oculus home has extra latency activated according to OVR Metrics tool).
Do you have an Idea on how to better test/debug this?
The first time I noticed this was actually when I tested a small

[2019-09-01 18:43] NeoSpark314 commented on #46
I think I found at least one Issue with the controller tracking:
https://github.com/GodotVR/godot_oculus_mobile/blob/36393808d159bb7e0a495f7038b0f67790702aa3/src/ovr_mobile_controller.cpp#L147
passes 0.0 as predicted display time instead of the value that is queried here
https://github.com/GodotVR/godot_oculus_mobile/blob/36393808d159bb7e0a495f7038b0f67790702aa3/src/ovr_mobile_session.cpp#L247

Pa

[2019-09-01 22:21] #46 closed

[2019-09-16 01:13] m4gr3d commented on #43
Fixed by PR #44 which is blocked by [godotengine/godot PR #32064](https://github.com/godotengine/godot/pull/32064).

[2019-09-16 01:14] m4gr3d commented on #35
Fixed by PR #44 which is blocked by [godotengine/godot PR #32064](https://github.com/godotengine/godot/pull/32064).

[2019-09-21 00:11] #35 closed

[2019-09-21 00:11] #43 closed

[2019-09-22 17:42] NeoSpark314 commented on #29
This issue exists still in the gles2 renderer (which is the renderer used in the demo scene); I created a PR to fix it in gles2:  https://github.com/godotengine/godot/pull/32259
Should this be a new issue here or this issue reopened?

[2019-09-22 18:24] m4gr3d commented on #29
Let's reopen this issue.

[2019-09-23 17:05] m4gr3d commented on #29
Fixed by [PR #32259](https://github.com/godotengine/godot/pull/32259)

[2019-09-23 17:05] #29 closed

[2019-09-24 12:48] esummers opened #49 "Sync physics refresh to headset refresh"
The demo project included with godot_oculus_mobile sets the physics refresh to 60 Hz, but the headset runs at 72 Hz.  This creates noticeable jitter in the headset.  Headset tracking appears to be affected by the physics refresh rate.  The following warning seems to apply: https://docs.godotengine.org/en/3.1/tutorials/misc/jitter_stutter.html#jitter

For me, the fix is to change physics rate to 72

[2019-09-25 01:38] esummers commented on #49
I tested this again and now it appears there is jitter regardless of physics FPS.  It is random.  Sometimes there is jitter, sometimes there isn't.  I'm closing this.  Will wait and see what this looks like under 3.2

[2019-09-25 01:38] #49 closed

[2019-09-28 10:19] NeoSpark314 opened #50 "android on_resume: _process called before enter_vr_mode()"
I currently have the issue that when the app is paused and then resumed again that
gdscript `_process()` is called once before ovr is initialized again (via `OvrMobileSession::enter_vr_mode()`
This means that for one frame all calls to the gdns api functions are invalid.

Since ovr is recreated on app resume all settings need to be set again as they are initialized with the defaults. I would like

[2019-09-28 11:31] NeoSpark314 commented on #50
I also just noticed that _process() is called once after NOTIFICATION_APP_PAUSED before the app is actually paused.

[2019-09-29 19:18] m4gr3d commented on #50
@NeoSpark314 Do you have the latest from upstream for both the oculus mobile plugin and the godot engine?

The logic in [GodotRenderer#onDrawFrame](https://github.com/godotengine/godot/blob/3b532aa7ebddd47f8b041190c30b5b473dfbe116/platform/android/java/lib/src/org/godotengine/godot/GodotRenderer.java#L45) should enforce that `NOTIFICATION_APP_RESUMED` is invoked before `_process` since `GodotLib.o

[2019-09-30 19:16] NeoSpark314 commented on #50
@m4gr3d Thanks; that was part of the problem; I just redid the test with the master from 1 hour ago: c11ccb7e6
I noticed that I need to call
`./gradlew build` before `./gradlew generateGodotTemplates`; else it just takes the previously build libs instead of calling scons to build the changed cpp files again.

The second problem I mentioned seems to be gone now; process is not called after NOTIFICA

[2019-09-30 20:12] m4gr3d commented on #50
@NeoSpark314 I removed the logic that used to call `scons` automatically in [PR #32269](https://github.com/godotengine/godot/pull/32269) based on feedback in that pull request.
So for the proper behavior, you now have to manually call `scons` to generate the desired native shared library before invoking `gradlew generateGodotTemplates`.
I've added more information in that PR description, and have

[2019-10-01 03:44] NeoSpark314 commented on #50
Ok; thanks a lot for the clarification! I will use the flag then for re-setting settings at the beginning of `_process`.

[2019-10-01 03:44] #50 closed

[2019-10-06 06:41] creikey opened #53 "Changing DOF in export settings breaks PanoramaSky"
On an oculus quest, when the DOF toggle is changed from `None` to `6DOF` or `3DOF and 6DOF`, the panorama sky is broken, extremely warped in the y axis.

[2019-10-06 07:06] NeoSpark314 commented on #53
Are you using GLES2 or GLES3? There was recently (~2 weeks ago) a fix for GLES2 in https://github.com/godotengine/godot/pull/32259
I just tested the demo application and it seems to work for me.

There were some build system changes for android. The final export template is now in godot/bin/android_debug.apk (or android_release.apk). Maybe you are still pointing to an old .apk where the fix was no

[2019-10-06 08:22] NeoSpark314 opened #54 "GLES2 MSAA settings not working"
The MSAA settings (Under Project Settings->Rendering->Quality->Msaa seem to have no effect on the actual rendering inside the Oculus Quest in GLES2.

Here is a comparison shot with MSAA off (left) vs MSAA 4x (right):
![mass_comparison_off_4x](https://user-images.githubusercontent.com/1610621/66266256-7d495200-e822-11e9-9a03-5d00da4e565a.png)

I tried to investigate briefly; My first suspicion is t

[2019-10-06 09:41] creikey commented on #53
It turns out that I had an error in my build system, causing the android build templates to be about three months behind the current master. Apologies for the faulty issue.

[2019-10-06 09:41] #53 closed

[2019-10-06 09:43] creikey commented on #54
Relevant PR: https://github.com/godotengine/godot/pull/28518

[2019-10-06 10:04] NeoSpark314 commented on #54
I used some printf debugging and the check added in the PR godotengine/godot#28518 you referenced seems to work on the oculus quest and it is correctly reported that MSAA is supported.
What I mentioned above is that I think the special function `render_target_set_external_texture` used to render to the (external) eye textures is missing perhaps some multisample setup for the fbo.

[2019-10-06 10:34] creikey opened #55 "OmniLights and Spotlights do not show on device"
OmniLights and SpotLights are invisible on the oculus quest, despite being visible in the editor. Example project attatched.
[vr-playground.zip](https://github.com/GodotVR/godot_oculus_mobile/files/3694243/vr-playground.zip)

[2019-10-06 10:42] NeoSpark314 commented on #55
I think the reason in your case is that by default in Project Settings -> Rendering -> Quality -> Shading for mobile the fallback for vertex lighting (and other fallbacks) are active. So with the big plane you have in the scene no vertex is in the area where you see the light. Turning off the settings for mobile should result in the expected behaviour and should look the same as in the editor:

![

[2019-10-06 10:46] creikey commented on #55
This solves the issue. Thanks!

[2019-10-06 10:46] #55 closed

[2019-10-09 23:35] chrisbare opened #56 "Quest Normal Maps are inverted"
I'm experimenting with Godot and the Oculus Quest. So far it's working very well, but I noticed that the normal maps on the PC are inverted on the Quest.

Bastiaan Olij -  Sounds to me like an issue with how the normal map is converted, really weird.
Best raise an issue on the godotvr github page for the plugin.

[2019-10-10 04:03] NeoSpark314 commented on #56
Did you check that under ProjectSettings->General->Rendering->Quality->Shading the Mobile Fallbacks (especially vertex lighting) are turned off. Else: do you have a screenshot?

![Screenshot from 2019-10-06 12-41-17](https://user-images.githubusercontent.com/1610621/66538160-7c1a6c80-eb23-11e9-9b88-b6d07772de1a.png)

[2019-10-11 22:46] BenMcLean opened #57 "Crash on launch when building with mono"
In Godot 3.2 Alpha 2, I can:
1. Build regular android apps.
2. Build and run the Oculus Mobile Plugin demo without issues.

In Godot 3.2 Mono Alpha 2, I can:
1. Build regular android apps with C#
2. Build the Oculus Mobile Plugin demo.

However, when I run the Oculus Mobile Plugin demo that was build on the Mono version, it crashes on launch.

I'd appreciate any help trying to track down the cause

[2019-10-11 23:51] neikeq commented on #57
I will have a look at this in a week. Can you copy the logcat log?

[2019-10-12 01:18] BenMcLean commented on #57
Sure, but do you know of instructions how to get it on Windows 10?

[2019-10-12 02:57] BenMcLean commented on #57
OK, I figured out how to get the logs. Here's the crash log:
`10-11 21:55:38.300 22625 22640 I godot   : Godot Engine v3.2.alpha2.mono.official - https://godotengine.org
10-11 21:55:38.324 22625 22640 I godot   : OpenGL ES 2.0 Renderer: Adreno (TM) 540
10-11 21:55:38.360 22625 22640 I godot   :
10-11 21:55:39.210 22625 22640 V GodotOVRMobile: Creating OVR Mobile session.
10-11 21:55:39.236 22625 2

[2019-10-12 03:00] BenMcLean commented on #57
I should point out that I do not think the "Mono Core API mismatch" issue is actually what's crashing it, because I get that same message when I build a non-Oculus C# Android "Hello world" app and yet it runs just fine.

[2019-10-17 18:40] chrisbare commented on #56
I did not know about those options and they seem to be enabled by default. Disabling them makes the Quest behave the same as the PC. Thank you for pointing out these settings.

[2019-10-17 18:46] NeoSpark314 commented on #56
Great to hear that it solved your problem. This is definitely something that should be well documented for the release as it is not very obvious. I also ran into this when starting to deploy for oculus quest.

[2019-10-18 17:16] BenMcLean commented on #57
Please don't forget! :) I could really use some help. I could set up a screen share to get this solved if it would help :)

[2019-10-22 02:29] BenMcLean commented on #57
It would still be nice to get this to work, but don't stress out about it.

I seem to be the only developer in the entire world who wants to use C# with Godot on the Oculus Quest. I'm not devoted enough to being a trailblazer to deal with that, so I'm switching to Unity.

If you come up with a solution, I'll try it out though and maybe switch back to Godot if I find everything just works, but I th

[2019-10-22 04:45] m4gr3d commented on #57
@BenMcLean Have you opened an issue against godotengine with the `mono` label?
Based on your description, the issue seems to be with the mono implementation since this is just a plugin like any other and thus shouldn't impact how the engine run.

The `mono` maintainers should be in a better position to provide assistance since most of the contributors for this plugin do not use or have experience

[2019-10-22 04:46] m4gr3d commented on #56
Seems like the issue was resovled. Feel free to reopen if not.

[2019-10-22 04:46] #56 closed

[2019-10-27 20:09] BenMcLean commented on #57
Godot 3.2 Mono Alpha 3 fixes this problem.

[2019-10-27 20:09] #57 closed

[2019-10-29 16:05] m4gr3d commented on #45
cc @BastiaanOlij @akien-mga

[2019-10-30 11:15] BastiaanOlij commented on #45
Indeed, this has always been an issue for VR. While on one side people will want to be able to do some amount of post effects requiring this copy anyway, that we already take the render buffer and copy this to the final output through a lens distortion shader just seems wasteful. It can be more then one depending on the post effects used.

A more efficient way would be to skip the post effect step

[2019-10-30 11:17] BastiaanOlij commented on #54
As far as I'm aware the MSAA implementation in Godot was a GLES3 only feature. I vaguely recall a discussion on IRC about creating an alternative for the GLES2 driver.

That said, @NeoSpark314 could be correct in his remark.

[2019-10-30 11:29] NeoSpark314 commented on #45
From my perspective I think waiting is also probably the best option. When I opened the issue I thought that using GLES3 would be the preferred choice for Mobile/Quest (assuming that OpenglES 3.0/3.1 features would allow better performance). But even with the option to disable post processing I see there are too many performance pitfalls due to the tiled render architecture for mobile with the cur

[2019-10-30 17:02] m4gr3d commented on #45
@NeoSpark314 Can you elaborate on the performance pitfalls you're seeing with the GLES3 renderer.
I'm also trying to identify the optimal Godot renderer, and so knowing ahead of time what I should be looking out for would help speed up the evaluation. It'll also be worth listing that information on the project pages since other users might be interested and/or want to weigh in.

[2019-10-30 17:07] m4gr3d commented on #54
@NeoSpark314 Can you open an issue on the Godot engine project. It'd be ideal if we can resolve this issue before 3.2 is final.

[2019-10-30 18:04] NeoSpark314 commented on #45
From what I remember at the moment (I stopped using GLES3 after I opened this issue :-) the main issue I saw with GLES3 is that there are many options that require additional full screen passes that are extremly expensive (mostly due to bandwidth): auto exposure, glow, SSAO, and screen space reflections that can easily be turned on in gles3;
On the material side I think sub surface scattering requ

[2019-10-30 18:28] NeoSpark314 commented on #54
Yes I'll create one; I just tested it again and the problem is still present. From what I have seen I would assume that the same issue exists also with desktop VR headsets on the GLES2 renderer but I have no hardware to verify this.

[2019-10-30 18:53] NeoSpark314 commented on #54
Issue https://github.com/godotengine/godot/issues/33188 is created.

[2019-10-30 20:52] fakedeltatime opened #60 "Quality of visual shaders deteriorates when using Time input"
When using the Time input in a Visual Shader, then the quality of the change in the Time input as well as the quality of textures altered with it deteriorates, making the changes stutter and lowering the resolution of the textures. The project I've provided shows three cubes, two with the same noise texture the right of which has an animated shader using the Time input, and one with a cycling opac

[2019-10-30 21:12] NeoSpark314 opened #61 "Accessing Guardian System BoundingBox in Stationary mode crashes"
When the Oculus Quest is in Stationary mode (instead of room scale) and then accessing the guardian system via
[code]

the output is
[code]
and then the application crashes.
I would expect the output to be null in this case; but in any case it should not crash; The issue is probably in https://github.com/GodotVR/godot_oculus_mobile/blob/97e3105f8c17c6fb3edc5dc1daf2958f219c341b/src/config/ovr_guard

[2019-10-30 21:15] NeoSpark314 commented on #61
I plan to look into this tomorrow as it is very likely in code that I have written.

@m4gr3d do you know where the *symbol file* for godot android is so I can use
`ndk-stack -sym <path to symbol file> -dump <source log file> > stack.log` to make more sense out of the
`adb logcat -b crash`
that outputs in this case:
[code]

[2019-10-31 07:56] NeoSpark314 commented on #60
I tried the attached reproducer and the problem is clearly visible on the quest while it does not occur on desktop:

![time_deterioration_screenshot](https://user-images.githubusercontent.com/1610621/67928718-06526f80-fbbc-11e9-94a0-f1a5a251c71b.jpg)

I used renderdoc to inspect the created shader and it seems to be a floating point precision problem:
In the final fragment shader there is at the t

[2019-10-31 13:29] #61 closed

[2019-10-31 15:25] m4gr3d commented on #60
cc @akien-mga

[2019-10-31 15:27] m4gr3d commented on #60
@fakedeltatime Can you open an issue on the main Godot engine issues page as well since as @NeoSpark314 mentions this may also affect other platforms.

[2019-10-31 15:36] akien-mga commented on #60
Related: #32813

[2019-10-31 16:11] fakedeltatime commented on #60
I'm surprised that I'm not getting these problems with my low tier Nokia 1 phone, but I guess that might be because it's running Android Go (a lighter version of Android) instead of regular Android?

[2019-11-05 11:31] Knochi opened #64 "Setup Instructions incomplete/not beginner friendly"
When using the command line tools (CLT) the user will be confroted with a few problems.
- android SKD CLT doesn't come with cMake
- user has to use sdkmanager to install cmake
- sdk manager doesn't work with JAVA SE >10
- when trying to get Java SE 8 the user has to register at oracle (due to licensing)
- one way may be to use https://jdk.java.net/java-se-ri/10 but no idea how to install

When usi

[2019-11-05 19:16] m4gr3d opened #65 "Revisit mapping for Oculus touch grip trigger"
The current grip trigger axis is set to `3`.
According to @BastiaanOlij it should be set to `4` to match the value for the Oculus desktop plugin.

[2019-11-05 19:18] m4gr3d commented on #65
@BastiaanOlij Do note it's also set to `3` in the [Oculus desktop plugin codebase](https://github.com/GodotVR/godot_oculus/blob/5dee0ac2c0060719711c5cd385315682a626f184/src/ARVRInterface.cpp#L387).

[2019-11-05 19:33] m4gr3d opened #66 "Notify when the headset is unmounted"
Updates the plugin api to notify when the headset is unmounted. This allows the game logic to pause until the user puts the headset back on.

[2019-11-05 23:34] BastiaanOlij commented on #65
Auch, the info page I wrote up says it should be 4:
https://github.com/GodotVR/godot_oculus/issues/4

I think most people react to the button (mapped to 2) instead of the axis so nobody really noticed until now.

I'm wondering if we shouldn't go the other way around, change the OpenVR plugin and make it 3 there. We can always keep axis 4 the same for now and mark it as a deprecated axis to be repl

[2019-11-05 23:35] BastiaanOlij commented on #65
(well the MR boys might have a problem because their trackpads are mapped to axis 5/6 which we probably should keep the same)

[2019-11-06 17:06] NeoSpark314 commented on #54
I managed to get an old Oculus DK2 and tested the proposed fix on Windows. As @clayjohn already suspected in a comment it does not work on desktop that way.

My current understanding of this is, that for desktop it would require the external texture to be created with MSAA via `glRenderbufferStorageMultisample` (as it is done here https://github.com/godotengine/godot/blob/500863859ca34fec245cdf9ff

[2019-11-06 17:55] m4gr3d opened #67 "Update version 1.0.0 of the plugin to the Godot asset library"

[2019-11-07 16:31] andy-d1969 commented on #54
@NeoSpark314  I compiled godot master with your pull request #33291 applied, but MSAA is still not working for me. I tried importing your Godot Oculus Quest Toolkit project and set MSAA to 4x in the quality settings. When I run it in the editor MSAA is working, but not on my Quest.

[2019-11-07 17:45] NeoSpark314 commented on #54
@andy-d1969 thanks a lot for also looking into this. I will try it again in a moment.
How do you check if MSAA is working? Keep in mind that all the text and ui elements will not be affected/improved with MSAA as they come from a texture. You will only notice MSAA at the borders/silhouettes of geometry.

[2019-11-07 18:22] andy-d1969 commented on #54
I made a screenshot:
![mpv-shot0004](https://user-images.githubusercontent.com/18188636/68415923-b82d0580-0193-11ea-9dae-6998e98ec95d.jpg)

[2019-11-07 18:37] NeoSpark314 commented on #54
Indeed no MSAA; hmm
I also just made two screenshots: 4xMSAA and MSAA off:
![quest_msaa4x](https://user-images.githubusercontent.com/1610621/68417024-e4498600-0195-11ea-8969-30fb1213b296.png)
![quest_msaaOff](https://user-images.githubusercontent.com/1610621/68417025-e4e21c80-0195-11ea-951b-9c413e6ea871.png)

For me it works at the moment.

[2019-11-07 18:46] NeoSpark314 commented on #54
Maybe sth. went wrong while applying the PR or the build? If you want you could try the version I just built: https://www.dropbox.com/s/a1wgke4adufzdjd/android_debug.apk?dl=0

[2019-11-07 19:03] andy-d1969 commented on #54
I cannot install your apk:
<code>$ adb install android_debug.apk
adb: failed to install android_debug.apk: Failure [INSTALL_PARSE_FAILED_NO_CERTIFICATES: Package /data/app/vmdl535797989.tmp/base.apk has no certificates at entry AndroidManifest.xml]`
</code>
The PR seems to be applied correctly:
<code>$ git log
commit 8a452b3c4ba6e0ff6942fed1f6c6fee64c7fbead (HEAD -> master)
Merge: c663d65ff 418b03

[2019-11-07 19:11] NeoSpark314 commented on #54
Ah; sorry; I did not mention it; the .apk is just the godot android export template you would need to use instead of the one you build from godot.
But I just saw the godot PR with my fix is number #33188: https://github.com/godotengine/godot/issues/33188; you mentioned a different number above

[2019-11-07 19:17] NeoSpark314 commented on #54
Oh; ups; please ignore; that was the issue number; PR is indeed https://github.com/godotengine/godot/pull/33291

[2019-11-07 19:33] andy-d1969 commented on #54
With your apk MSAA is working.
So something must be wrong with my Godot binary? I try to build again.

[2019-11-07 20:09] NeoSpark314 opened #68 "Low Roughness results in black Specular Highlight"
When rendering a point light and a Spatial Material with low roughness values (for example 0.03) the resulting highlight becomes black instead of white.
The left image shows a roughness value slightly bigger; the right shows the issue.
![artifacts_quest](https://user-images.githubusercontent.com/1610621/68423086-b8340200-01a1-11ea-8201-b1dd925b4945.png)

In addition even when the highlight is not

[2019-11-07 23:04] lobinuxsoft opened #69 "CMake Error: CMake was unable to find a build program corresponding to "Ninja"."
Hello, I was following @BastiaanOlij tutorial, and when compiling the plugin the following problem occurs:

C:\Users\Lobinux-Lenovo\Desktop\Godot_Quest\godot_oculus_mobile\build>cmake -GNinja ..
CMake Error at C:/Users/Lobinux-Lenovo/AppData/Local/Android/Sdk/cmake/3.10.2.4988404/share/cmake-3.10/Modules/CMakeDetermineSystem.cmake:100 (message):
  Could not find toolchain file:
  C:\Users\Lobinux-

[2019-11-08 10:13] #54 closed

[2019-11-09 08:42] NeoSpark314 opened #70 "MSAA in GLES2 slow and breaks Fixed Foveated Rendering"
With the recent change in https://github.com/godotengine/godot/pull/33444 turning on MSAA will result in fixed foveated rendeirng not working anymore as performance optimization.
It still gives the artifacts of FFR but not the performance benefit as godot first renders the scene to an internal framebuffer with full resolution and then does a full screen quad to display.
This means in addition a co

[2019-11-09 13:20] m4gr3d commented on #70
@BastiaanOlij @akien-mga this is too high of a cost for a clean implementation. Unless the external msaa option is quick to add, can we revert to the 'hacky' fix for now on Android.

[2019-11-09 13:51] m4gr3d commented on #70
@NeoSpark314 for a straight comparison, what does the performance looks like when `lat` is set to `0`?

[2019-11-09 14:32] NeoSpark314 commented on #70
I just reran the test with my test branch and lat 0; the difference is not that significant as in my first test; I need to check if I made some mistake somewhere:
Current Master Reports GPU 2 / 77%:
[code]
While my test branch is at: GPU 2 / 72%
```11-09 15:16:00.561  6225  6285 I VrApi   : FPS=72,Prd=45ms,Tear=0,Early=72,Stale=0,VSnc=1,Lat=0,Fov=0,CPU4/GPU=1/2,1344/414MHz,OC=FF,TA=0/0/E0,SP=N/N/F

[2019-11-09 15:12] NeoSpark314 commented on #70
I could not find a mistake in my measurement above so far. I made a renderdoc trace and in the case of the master branch the full screen quad is rendered (but suspiciously cheap... maybe there is no copy performed in this setup...)

But the other problem is still very easily reproducible with Fixed Foveated Rendering (Fov). I made a Spatial Material with 3 textures:

Master Branch Fov 0:
[code]

M

[2019-11-09 15:30] NeoSpark314 commented on #70
General question I'm wondering about now: is GPU utilization actually the right performance indicator for the bandwidth cost of a full screen copy (and that supposedly 2.5ms seconds it costs as mentioned here: https://www.youtube.com/watch?v=CQxkE_56xMU&feature=youtu.be&t=2426)?

[2019-11-09 17:15] m4gr3d commented on #70
@BastiaanOlij @akien-mga The fact that it breaks FFR is IMO reason enough to revert [PR #33444](https://github.com/godotengine/godot/pull/33444).

@NeoSpark314 According to [this ovrmetrics blog post](https://developer.oculus.com/blog/ovr-metrics-tool-vrapi-what-do-these-metrics-mean/), GPU utilization is useful but app GPU time might be a better metrics to measure the performance impact.

[2019-11-09 17:38] NeoSpark314 commented on #70
in this case my benchmark from above (the one with Lat 0) reports `App=9.46ms` vs `App=8.73ms`;
still not the 2.5ms claimed in the video; but slightly higher increase from a relative point of view compared to the gpu utilization. I might try the Snapdragon profiler later; but I can't get it to run on my Linux machine.

[2019-11-09 23:53] BastiaanOlij commented on #70
@m4gr3d, the problem is that it's more then just a hack, MSAA was simply broken due to the introduction of external textures, we can't leave broken features in place just because there is one use case where it half worked, especially seeing Quest users are only a small group of the total Android users that may be effected by the hack.

For me the ideal solution is where we enhance the plugin syste

[2019-11-10 03:38] sigmaxipi commented on #69
You'll need to install the [Ninja build system](https://ninja-build.org/). I haven't done this for Windows but with Ubuntu, `sudo apt-get install ninja-build` worked.

[2019-11-10 04:09] lobinuxsoft commented on #69
**@sigmaxipi** Thanks for the response, I will install **Ninja Build System** and try to compile again, when I do I will give an answer to close the issue.

[2019-11-10 11:21] BastiaanOlij commented on #70
Ok, this is my take on solving this:

https://github.com/godotengine/godot/pull/33518

@NeoSpark314 already tested it out, would be good to get some more feedback.

[2019-11-10 20:53] m4gr3d commented on #69
@sigmaxipi @lobinuxsoft Based on your descriptions, the `cmake/bin` directory was not added to your environment variable `PATH`, hence why `cmake` doesn't see it.

@lobinuxsoft You should find a `ninja.exe` file in your ` C:/Users/Lobinux-Lenovo/AppData/Local/Android/Sdk/cmake/3.10.2.4988404/bin` directory. Make sure to add that directory to the `PATH` environment variable.
That step is also descr

[2019-11-10 21:10] lobinuxsoft commented on #69
@m4gr3d I did everything they told me to do, but it didn't work out so I opted to completely unravel Android Studio, erase all the environment variables, and reinstall everything from scratch ... if they work for me I will let you know so close this issue.

[2019-11-10 21:19] m4gr3d commented on #69
@lobinuxsoft You can also validate that the `ninja.exe` binary is in the `cmake/<version_dir>/bin` directory.
If it's, you can validate your environment variable setup by launching `cmd` (or `powershell`) and typing `ninja.exe`. If the command is recognized, then the environment `path` variable is properly setup.

Hope that helps!

ps: If you're just looking to get access to the prebuilt binaries,

[2019-11-10 22:00] lobinuxsoft commented on #69
It is indeed a problem of environment variables, maybe where the SDK is installed, probe changing the environment variable but still does not recognize the ninja.exe file ... do not worry I will look for a way to fix it, thank you for Help, you can close this issue.

[2019-11-11 08:51] m4gr3d commented on #70
@BastiaanOlij I've tested the PR, and it works as expected!

[2019-11-11 08:53] m4gr3d commented on #69
Thanks for the update! Feel free to re-open if you are still having issues building.

[2019-11-11 08:53] #69 closed

[2019-11-11 10:17] BastiaanOlij commented on #70
Sweet! lets hope it gets merged soon :)

[2019-11-11 18:41] m4gr3d commented on #70
Fixed by https://github.com/godotengine/godot/pull/33518!

[2019-11-11 18:41] #70 closed

[2019-11-13 23:16] zlsa commented on #68
I've encountered what I think is the same issue: https://youtu.be/T-JPEm10Tkg (screencapture from the Quest)

It occurs no matter what my roughness is set to, and gets worse as you get closer to the object. (Maybe something to do with fresnel?)

[2019-11-14 07:52] NeoSpark314 commented on #68
Yes, this looks like the same issue. as described above. Thanks a lot for sharing the video. I will try to go through the shader code and see if it is sth. like a division by zero.

[2019-11-14 18:41] zlsa commented on #68
If you'd like any specific demos with custom shaders or anything, I'm happy to test them!

[2019-11-14 19:37] zlsa commented on #68
The black noise that appears when approaching the sphere appears only with panoramic or procedural skies. I made an EXR file that was white (1.0 brightness), and the sphere exhibits the noise; however, when using a sky color of white, the noise isn't present. Using a black EXR shows no noise.

[2019-11-14 19:40] NeoSpark314 commented on #68
Do you have any other lightsource in the scene or only the sky? Are you using GLES3 or GLES2?

[2019-11-14 20:08] NeoSpark314 commented on #68
I started looking closer into the problem with RenderDoc: it is definitely a again a shader precision problem:

Here is a capture of my test reproducer with a single point light:
![Screenshot from 2019-11-14 21-03-55](https://user-images.githubusercontent.com/1610621/68892107-80d5d000-0722-11ea-8af1-f60d2abac4e0.png)

Defining in the shader the (`#define USE_HIGHP_PRECISION` which enables `precisi

[2019-11-14 20:14] zlsa commented on #68
GLES2, and I have the sky + a directional light (which doesn't change anything at all when I remove it.)

Also, with a 4096x2048 skybox, there are precision issues on the skybox as well (looks similar to nearest filtering.)

[2019-11-14 20:56] NeoSpark314 commented on #68
Maybe activating full precision float globally is not as bad as I have thought.
I did a basic benchmark by using a textured SpatialMaterial that covers the full view with a Sky and a directional light. You can see the traces in the screenshots below.

In summary the result was that with the current rendering the huge quad takes `~5.5ms` per eye and with full precision enabled it takes `~6ms`. It v

[2019-11-15 03:25] kaadmy commented on #68
I can also reproduce this on a Motorola G4 using Godot 3.2-b1 using GLES2:

![GLES2 float precision issues](https://cdn.discordapp.com/attachments/575907327052480515/644738773837545502/Screenshot_20191114-192135.png)

[2019-11-30 02:58] Luzzotica commented on #64
Yes I agree.
Thank you so much for this, your extra steps and information helped me past a couple rough spots.

I would love to help improve the getting started portion of this library. I needs some help. The easier we can make it to get people on this, the more we can test it to ensure it is working properly.

I'll see what I can do about improving the tutorial as soon as I get this all working s

[2019-12-04 20:56] Luzzotica commented on #64
Deployment

When exporting the project apk in Godot, the following Android export Graphics options should be set:

- Xr Mode must be set to Oculus Mobile VR.
- Degrees of Freedom:
   1. If deploying only on Oculus Quest, this must be set to 6DOF
   2. If deploying on Oculus Go, or on Oculus Go and Oculus Quest, this must be set to 3DOF and 6DOF

I cannot seem to find the graphics option in the and

[2019-12-04 21:14] NeoSpark314 commented on #64
You can find the Xr Mode settings in the android export settings (Project -> Export):

![Screenshot from 2019-12-04 22-11-27](https://user-images.githubusercontent.com/1610621/70181978-3d4c0180-16e3-11ea-9200-94d147fce675.png)

Running it directly from godot should work without problems.

[2019-12-05 03:06] BenMcLean commented on #64
Actually, there is also a 3DOF mode available on the Oculus Quest. You can use it at night to watch movies in the dark! So make sure to allow 3DOF unless you have some really compelling reason not to.

[2019-12-05 18:34] Wavesonics commented on #67
Is this planned for the 3.2 release of Godot?

[2019-12-06 02:21] Luzzotica commented on #64
I must have set something up incorrectly then, because I do not have those options:

<img width="901" alt="Screen Shot 2019-12-05 at 7 18 51 PM" src="https://user-images.githubusercontent.com/32227368/70290098-18fc2d80-1794-11ea-9b74-f6282bf5cf2b.png">

What could cause this? Is the add-on supposed to create those options for me?
Sorry if this seems rather basic, I really appreciate the help. This

[2019-12-06 04:01] NeoSpark314 commented on #64
Are you using a recent version of Godot 3.2? If not you could try the current beta-3: (https://godotengine.org/article/dev-snapshot-godot-3-2-beta-3)

[2019-12-06 05:12] Luzzotica commented on #64
Yes, I just downloaded 3.2, thinking that that was my issue. It didn't resolve the problem. I will try a couple other things before I try moving to a beta version of Godot. I enjoy my stable releases. =)

I do feel like it should work with 3.1 though. Was this plugin not made starting for 3.1?

[2019-12-06 07:29] NeoSpark314 commented on #64
Yes; making it as easy as possible to use would be great. The plan is to have it precompiled on the asset library for 3.2 which should make the basic use very easy (https://github.com/GodotVR/godot-oculus-mobile-asset); compiling from source should then only be necessary when you need the recent master or in-development versions.
@m4gr3d also mentioned to start a wiki on this git for easier docume

[2019-12-08 12:45] NeoSpark314 opened #72 "GLES2 2D Control Nodes not rendering in VR Viewport"
I am at the moment trying to implement a basic movement vignetting effect using a `ColorRect` with a custom shader.
When using a 2D Control node like for example a `ColorRect` on Desktop it will be rendered after the 3D scene into the view. On Oculus Quest it is not visible.

I looked into a Renderdoc trace and it appears that the colorrect is rendered twice as expected but not into the external t

[2019-12-12 00:18] creikey opened #73 "Add official docs for button IDs on quest controller"
In the meantime I've made a button testing project https://github.com/creikey/quest-controller-testing

[2019-12-14 11:56] shafy opened #75 "Expose API so we can draw to Compositor layer"
Drawing to the compositor layer instead of the eye buffer is useful for a couple of things. An important use case is to render text more clearly. They already provide scripts for this in their Unity SDK called [OVROverlay](https://developer.oculus.com/documentation/unity/latest/concepts/unity-ovroverlay/).

[2019-12-16 12:52] SoapSpangledGames opened #77 "Detect Quest as Platform"
When testing and debugging, I have code paths that are enabled when running on my PC and on my Android tablet, and different code paths that are enabled when running on the Quest.  Is there a way to differentiate between the two platforms?

[2019-12-16 12:55] NeoSpark314 commented on #77
One potential solution for this is to set a global variable when you successfully initialized the "OVRMobile" ARVR interface as this will only be successful on the quest. But there are probably other ways too like calling `OS.get_name()`

[2019-12-16 13:04] SoapSpangledGames commented on #77
OS.get_name() was my first thought, too, and would have been ideal, but it returns "Android" on the Quest.  Not seeing the forest for the trees, though, I completely overlooked using OVRMobile as a determinant.

Thank you.

[2019-12-16 13:53] NeoSpark314 commented on #77
glad to help

[2019-12-16 13:53] #77 closed

[2019-12-18 03:37] lobinuxsoft commented on #69
I found what my mistake was, it is the environment variable that points to the NDK directory ... the variable points to "[Android Path]\Sdk\ndk", but it was wrong, since there is also the version number as a folder, correctly it would be "[Android Path]\Sdk\ndk\20.1.5948944".

[2019-12-20 17:57] m4gr3d opened #78 "Add support for hand tracking"
Version 12.0 of the Oculus mobile SDK adds support for hand tracking, so the feature should be included and exposed in the Godot plugin.

https://developer.oculus.com/documentation/quest/latest/concepts/mobile-vrapi-input-api/#hand-tracking

[2019-12-20 17:58] m4gr3d opened #79 "Add support for dynamic foveation"
Version 12.0 of the Oculus mobile SDK adds support for dynamic foveation, so the feature should be integrated and exposed in the Godot plugin.

https://developer.oculus.com/documentation/quest/latest/concepts/mobile-ffr/

[2019-12-21 19:44] Luzzotica commented on #64
Alright, I am working on making the setup instructions a little more clear and easy to follow.

I am curious about this line:
Note: Make sure you are using Android SDK's version of cmake.

Is this necessary? I just tested it with the most up to date version of CMake I can get and I was able to build everything normally.

I am on macOS Catalina.
CMake: 3.16.1
Everything works. But maybe this doesn'

[2019-12-26 22:11] m4gr3d commented on #64
@Knochi @Luzzotica Can you give a try to the setup instructions for v2.0 of the plugin in [this branch](https://github.com/GodotVR/godot_oculus_mobile/tree/2.0).

While v2.0 is still in early development, the build process has been simplified so it may resolve some of the issues you're seeing.

[2019-12-30 15:58] Luzzotica opened #82 "High Level Networking API not working"
I am attempting to use the high level networking API on my Quest and I am getting this error:

- At: drivers/unix/net_socket_posix.cpp:440:poll() - Condition ' !is_open() ' is true. returned: ERR_UNCONFIGURED
- **ERROR**: Condition ' !is_open() ' is true. returned: ERR_UNCONFIGURED

I am fairly certain this is due to me running this on the Quest. The game I am running works perfectly fine on my la

[2019-12-30 16:00] m4gr3d commented on #82
It's unlikely that this is Quest specific since the Quest just run Android.
Can you try testing on a regular Android phone and see if you're running into the same issue.

[2019-12-30 22:04] Luzzotica commented on #82
Will do. I'll get back to you later today.

[2019-12-30 22:15] Luzzotica commented on #82
Ok, looks like my issue was that I had a function called _init and that was giving me the weirdest errors, this was never as issue.
Sorry to bother, and thank you for the quick reply!

[2019-12-30 22:15] #82 closed

[2020-01-07 11:57] NeoSpark314 commented on #65
Is there already an idea how to resolve this? (I would vote at the moment for keeping it at 3). Someone started working on adding some docs to the godot-docs here: https://github.com/godotengine/godot-docs/pull/3040 and I think adding the current button mapping in the docs would be really useful.

[2020-01-10 05:31] m4gr3d commented on #79
Fixed by PR #84

[2020-01-10 05:31] #79 closed

[2020-01-10 06:15] m4gr3d commented on #78
Hand tracking support in the plugin was added in PR #80.
Support in Godot core is being added by https://github.com/godotengine/godot/pull/34977.

[2020-01-15 07:31] NeoSpark314 commented on #78
I think this is done now. Or do you see something else that would be required for the first version of hand tracking support?

[2020-01-15 21:10] m4gr3d commented on #78
Nope, looks good to me!

[2020-01-15 21:10] #78 closed

[2020-01-23 19:55] djbailey opened #87 "Oculus Go Controller Positioned At Origin"
I configured my Go to right handed and set the ARVRController to id 2. In this configuration the orientation of the controller is working perfectly but the position is at the origin. No matter where I position the transform of the controller when running on device the controller reverts back to the origin.

My current work-around to to set the position of the ARVRController every frame. It's not p

[2020-02-06 07:59] zweihander11 commented on #87
Same problem here! The workaround does indeed work but may not be ideal. Any ideas what might be causing this?
I understand the system uses an mathematical model to simulate the elbow rotation, how could that be implemented in this case?

[2020-02-06 08:08] NeoSpark314 commented on #87
I don't have an Oculus GO to test; Does someone know if the VrAPI actually provides position information for the controller?

the check in the plugin is performed here: https://github.com/GodotVR/godot_oculus_mobile/blob/c4ce228f675d8f53b8e9c850b3e7e66e8573de5d/src/ovr_mobile_controller.cpp#L197

Not sure if ovrControllerCaps_HasPositionTracking returns false for the GO controller and what Godot d

[2020-02-09 21:29] electronjoe commented on #87
Just to be certain on this - In the original reports above - In your Export settings did you set Xr Feature to Oculus Mobile VR and Degrees of Freedom to 6DOF? I ask because the behavior you cite above sounds similar to the results I got when I mistakenly missed these steps in a new project.

<img width="896" alt="Screen Shot 2020-02-09 at 4 27 15 PM" src="https://user-images.githubusercontent.com

[2020-02-10 14:38] djbailey commented on #87
Hi @electronjoe, I did set up the project but with 3DOF and 6DOF, I can try and test 6DOF this evening

[2020-02-12 11:21] BastiaanOlij commented on #87
I'll see if I can find some time this weekend to hook up my Go. I'm guessing the Oculus SDK expects us to position the Go's controller and only gives us orientation data. If thats the case I'll probably add some fixed positions in if we detects its a Go controller.

[2020-02-27 19:05] dirkk0 opened #91 "running on Mac OSX"
Hi,
  first of all: thanks for the effort you guys put in all of this!

Then: is this supposed to work for Godot 3.2 on Mac OSX?

I can export the VR Starter Tutorial successfully to the Oculus Quest and it starts, I hear the sound but I only see three dots in the headset.

Although it compiles and gets executed on the the Quest, there is an error in the output that says:
[code]
Manually moving `l

[2020-02-27 19:18] m4gr3d commented on #91
Hi Dirk, based on the error message you're using the openvr plugin instead of using the Quest plugin.
Here's the one you should be using: https://godotengine.org/asset-library/asset/500

[2020-02-27 19:43] dirkk0 commented on #91
oh, I see, thank you!
This was probably because I downloaded the
https://github.com/GodotVR/godot_openvr_fps project.
Is there an Oculus Starter project for Godot?

On Thu, Feb 27, 2020 at 8:18 PM Fredia Huya-Kouadio <
notifications@github.com> wrote:

[2020-02-27 19:58] m4gr3d commented on #91
This repo has a demo project which can be used as a starter project under https://github.com/GodotVR/godot_oculus_mobile/tree/master/demo.

I'll close this issue since it seems to be resolved but feel free to re-open if you run into other issues.
For quick tips & advices the [Godot XR discord](https://discord.gg/9UHYHcM) is the recommended resource!

[2020-02-27 19:58] #91 closed

[2020-02-27 20:00] m4gr3d commented on #67
The plugin is available in the asset store: https://godotengine.org/asset-library/asset/500

[2020-02-27 20:02] m4gr3d opened #92 "Add support for focus awareness"
https://developer.oculus.com/documentation/native/android/mobile-overlays/

[2020-02-28 20:58] dirkk0 commented on #91
... worked like a charm, thank you!

[2020-03-17 17:29] m4gr3d opened #93 "Version 2.0"
@NeoSpark314 @BastiaanOlij Now that the Android plugin re-architecture has been merged (https://github.com/godotengine/godot/pull/33682 and https://github.com/godotengine/godot/pull/36336), I'll be merging the [2.0 branch](https://github.com/GodotVR/godot_oculus_mobile/tree/2.0) into master.

Can you take a look at the 2.0 branch and ensure that the migration to the new workflow won't be an issue.

[2020-03-17 22:19] BastiaanOlij commented on #93
I'll have a look tonight, then this weekend I'll start having a look at what this all means for the ARCore work ;)

[2020-03-19 14:55] NeoSpark314 commented on #93
I'll try to have a look this weekend too. Hope to find enough time to really play with it; looks really promising for ease of use.

[2020-03-21 09:50] NeoSpark314 commented on #93
I checkout out your branch and try to build it on Windows.

At the moment I'm getting the following error during build; I don't now yet what might cause this; maybe you see something from the error message.
the mentioned .so file armeabi-v7a/Debug/libvrapi.so seems to be located in the right folder

[code]

[2020-03-21 17:39] m4gr3d commented on #93
@NeoSpark314 your path to the `ovr_sdk_mobile` seems strange since the `libs` directory should be in the same directory as the `CMakeLists.txt` file, hence there shouldn't be any `..`.
It could be that from where you're invoking the build command, that path is invalid, or your `CMakeLists.txt` file was modified.
You should ensure that the Oculus mobile sdk is in the `<checkout_root_directory>/plug

[2020-03-22 13:39] NeoSpark314 commented on #93
Thank you; that was exactly the issue; I did not move the ovr_sdk_mobile into the plugin folder. Not it builds.

Next I tried to use the resulting .aar file in the demo but ran into the following issues (I have not yet any experience with godot custom android builds :|)

When I try to run it from the demo folder directly in the git I get this gradle build error (screenshot because the copy-text fu

[2020-03-23 16:44] m4gr3d commented on #93
@NeoSpark314 I've added https://github.com/godotengine/godot/pull/37256 to fix the build issue.
The quick fix is to add an empty `settings.gradle` file to the `res://android/build` directory.

[2020-04-01 00:58] #93 closed

[2020-04-01 01:00] m4gr3d commented on #64
Fixed by PR #94

[2020-04-01 01:00] #64 closed

[2020-04-04 13:52] #66 closed

[2020-04-04 14:09] m4gr3d commented on #92
As mentioned in PR #98, the remaining task involves adding an export option for focus awareness support to the Godot engine.

[2020-04-09 20:15] vansoest commented on #72
Same problem here with the Nvidia FXAA shader port:
https://gist.github.com/vansoest/e81d57e26447de432b2920f20ebb637d

[2020-04-23 00:08] m4gr3d opened #101 "Upgrade the Oculus mobile SDK to version 15"
https://developer.oculus.com/downloads/package/oculus-mobile-sdk/

The permission string for hands tracking access has been updated as well, so updates will need to be made as well to the Godot export logic to match the new string.

[2020-05-03 05:08] NeoSpark314 opened #102 "Enabling hand tracking permission breaks OS.request_permissions()"
It appears that the presence of the hand tracking permission inside the AndroidManifest.xml throws a NameNotFound exception at
https://github.com/godotengine/godot/blob/7899b3e734e5c64304e8ffb56293fb4b1912b547/platform/android/java/lib/src/org/godotengine/godot/utils/PermissionsUtil.java#L117
and
https://github.com/godotengine/godot/blob/7899b3e734e5c64304e8ffb56293fb4b1912b547/platform/android/ja

[2020-05-04 22:02] m4gr3d commented on #102
@NeoSpark314 I've cherry-picked the fix in https://github.com/godotengine/godot/pull/38468 into https://github.com/m4gr3d/godot/tree/fix_permissions_handling_bug_3.2. Can you check if that resolves the issue for you.

[2020-05-05 08:53] NeoSpark314 commented on #102
From the code change in your PR it looks like what I did in my workaround so it should solve the issue. I can test your change this afternoon (~8 hours from now).

[2020-05-10 15:03] BenMcLean commented on #72
I have same problem, please fix.

[2020-05-10 19:57] NeoSpark314 commented on #102
Works with current master of godot 3.2.

[2020-05-10 19:57] #102 closed

[2020-05-13 13:15] goatchurchprime opened #103 "The controller positions do not handle world_scale correctly"
If you set the ARVROrigin world_scale to 2, then the hand controllers are up in the sky and move past you at twice the speed you walk.

It looks like their positions need to be scaled down towards the centre of the tracking space by a factor or 2=world_scale.

This parameter works correctly on the Vive -- the hand controllers are where they should be, while the world is smaller.  In my demo was sc

[2020-05-13 14:04] goatchurchprime commented on #103
Also, making this work and deploy to android/quest was a lot of hassle.  The final impossible step (I needed to ask help on) was to create an empty settings.gradle file inside  godot_oculus_mobile\demo\android\build for no reason.

[2020-05-18 22:04] m4gr3d commented on #103
@goatchurchprime The deployment bugs have been resolved in the [Godot 3.2.2](https://godotengine.org/article/dev-snapshot-godot-3-2-2-beta-2) (still in beta).

@BastiaanOlij Any thoughts about the scaling issues?

[2020-05-19 05:01] BastiaanOlij commented on #103
@m4gr3d I'll take a look tonight but it's either calling the wrong setter or not taking the scaling into account. Basically all the places where we're getting transforms from Oculus we need to scale the position correctly and in game you need to scale controller meshes.

[2020-05-19 09:36] BastiaanOlij commented on #103
Ah, it's applying the worldscale double. It's applied in the call to godot_transform_from_ovr_pose here:
https://github.com/GodotVR/godot_oculus_mobile/blob/master/plugin/src/main/cpp/ovr_mobile_controller.cpp#L211

But then on the next line where the transform is sent to Godot by calling godot_arvr_set_controller_transform, that also applies the world scale.

So we can just set the first call to

[2020-05-23 07:56] Ongnissim opened #108 "Using GLES3 causes rendering issues with Blend Keys"
Hello!

I know that the documentation recommends using GLES2, and I have been for most of my development time, but there is an object that I wish to animate with Blend Keys, and I found out today that GLES2 doesn't support blend keys.

Everything else in my game is running fine in GLES3, but these objects, which run perfectly fine in Godot outside of the quest, show up as mangled meshes, with blac

[2020-05-25 06:30] ellenhp opened #110 "Integrate oculus audio spatializer"
Hey, not sure if this has been discussed already but I'm curious if anyone has attempted to integrate the oculus audio spatializer into this plugin. I played around an AudioStreamPlayer3D and it seems like godot's default audio system is nowhere near good enough for compelling VR. I don't mind taking a stab at integrating the library, but I wanted to drop an issue here to track it and in case anyb

[2020-05-25 07:08] Wavesonics commented on #110
@ellenhp that would be super cool, would this be for things like HRTF?

[2020-05-25 07:35] ellenhp commented on #110
Yeah, the main benefit is getting their HRTF pipeline. That said, looking through the docs shows they do also have the ability to take 3d meshes and dynamically estimate reverberation for a given environment. I'm not sure how simplified these meshes have to be, and whether or not that's something that's feasible to integrate.

The basic idea of what I'm thinking is subclassing AudioStreamPlayer3D

[2020-05-25 16:16] m4gr3d commented on #110
That sounds like a good approach!

I would involve @BastiaanOlij in the design for the `ARVRAudioStreamPlayer3D` class as we'd probably want an API flexible enough to support other VR (and maybe AR) backends.

[2020-05-26 09:28] BastiaanOlij commented on #110
I can't say I've dived into the audio side of Godot much at all. Eric (Oculus) did mention before he'd be interested in seeing us support the audio side of the Oculus SDK.

From what little I played around with it with the gun tutorial I did a sound played can be location based so it adjust volume per ear and optionally pitch for a moving sound source, that audio stream is then input into Godots a

[2020-05-27 05:14] ellenhp commented on #110
After discussion on the discord, I elected to try to integrate Resonance Audio into godot instead of linking with a platform-specific audio library. There's a proof of concept of this integration here: https://github.com/ellenhp/godot/tree/hrtf

I'm working on a PR to add it to godot knowing that it's not super likely to be accepted as-is. Hopefully it'll start the discussion though.

[2020-06-04 11:48] davvore33 opened #113 "Build procedure error"
Hi,
I'm trying to build your plugin but this is what i got when i try `gradlew` procedure

[code]
Am I missing some deps?

[2020-06-04 15:16] m4gr3d commented on #113
Seems like you're missing the Oculus mobile SDK. Follow the instructions in the readme to find out how to access it and set it up for the project.

[2020-06-04 20:30] m4gr3d commented on #87
Fixed by #114

[2020-06-04 20:30] #87 closed

[2020-06-04 20:31] #101 closed

[2020-06-06 00:51] #92 closed

[2020-06-08 16:49] m4gr3d commented on #113
@davvore33 Closing this issue. Feel free to reopen if you're still having build errors.

[2020-06-08 16:49] #113 closed

[2020-06-27 20:44] m4gr3d commented on #65
@BastiaanOlij @NeoSpark314 I also vote for keeping it at `3` since the Oculus version is also that way.
Along the way, we should deprecate `4` for the OpenVR plugin as you suggested, and make it `3` also.

@BastiaanOlij What do you mean by that? Doesn't the MR headsets also use the OpenVR plugin (and mappings)?

[2020-06-28 02:01] BastiaanOlij commented on #65
I’m happy for it to stay at 3

The MR controllers have a track pad and joystick. As the original VIVE
controllers have a trackpad the openvr plugin maps the trackpad first, and
the joystick second. Oculus is the odd ball out.

This is one of the big reasons the action system was introduced so your
game no longer has to care, you define you have an action for a joystick
input and then map each cont

[2020-06-28 02:48] m4gr3d commented on #65
Thanks for the clarification!

[2020-06-28 02:48] #65 closed

[2020-06-29 00:41] #103 closed

[2020-09-14 07:24] goatchurchprime opened #119 "Add use of pointer_pose into the demo"
I was almost at the point of hacking in some pointer based on hand tracking, with filtering to take account of the noise in the position of the hand.

But then it seems there is already this function in the API: https://developer.oculus.com/documentation/native/android/mobile-hand-tracking/

And then it seems that it's already been pulled into the oculus mobile here:
 https://github.com/GodotVR/go

[2020-09-17 07:06] goatchurchprime commented on #119
I know this is not as useful as a finished pull-request to the library, but I am not confident enough to make one.

Here is my development at working out the pointer_pose function, as well as the fade-out and fade-in feature you get on the hand-tracking when the confidence level drops and you are in the default oculus system scene.

I found that it is best to put the hand model and pose laser poin

[2020-10-10 19:53] Firepal commented on #60
Since [godotengine/godot#33646](https://github.com/godotengine/godot/pull/33646) was merged into master and included in 3.2.3, shouldn't this issue be closed?
That PR was probably the best that could've been done in any case ^^'

[2020-10-12 06:15] m4gr3d commented on #60
Agree, thanks for the reminder @Firepal!

[2020-10-12 06:15] #60 closed

[2020-10-13 05:33] #119 closed

[2020-10-13 15:48] m4gr3d opened #121 "Add Oculus Quest 2 support"

[2020-11-12 06:41] m4gr3d commented on #75
In order to expose this feature in Godot, we could extend [Godot's `Viewport`](https://docs.godotengine.org/en/stable/tutorials/viewports/viewports.html)  (e.g: `OvrViewport`) and have it backed by an ovr compositor layer.

[2020-11-17 05:08] m4gr3d opened #122 "Add support for the Oculus platform keyboard"
See https://developer.oculus.com/documentation/unity/unity-keyboard-overlay for reference.

[2020-12-08 16:48] motorsep opened #124 "Mobile Vulkan for Oculus Quest 2 ?"
Is there any chance we'll see mobile Vulkan renderer support in Godot to take full advantage of Oculus Quest 1/2 hardware ?

[2020-12-08 16:49] motorsep opened #125 "64bit Android binaries for Oculus Quest ?"
Does Godot build 64bit binaries for Oculus Quest 1/2 ?

[2020-12-08 16:58] BenMcLean commented on #125
yes https://docs.godotengine.org/en/stable/development/compiling/compiling_for_android.html

[2020-12-08 16:58] m4gr3d commented on #124
@motorsep Yes! Support for it is on our roadmap will be coming alongside Godot 4.0 sometimes in mid 2021.
I'll close this issue since we're already tracking that effort but feel free to continue the conversation here if you have more questions.

Thanks!

[2020-12-08 16:58] motorsep opened #126 "VR framework for Godot ?"
Are there any plans to offer VR framework for Godot ?

By that I mean out of the box gameplay/input codebase that provides motion controllers support (input mapping, hand tracking/controller tracking switch, placeholder for skeletal mesh hand models with basic hand poses, basic interaction with objects in VR using motion controllers, etc.), automatic HMD height calibration, HMD type detection, Gua

[2020-12-08 16:58] #124 closed

[2020-12-08 17:00] m4gr3d commented on #125
@motorsep The Quest plugin binaries are prebuilt and can be retrieved from the [release page](https://github.com/GodotVR/godot_oculus_mobile/releases). The AAR binary contains both 32 and 64bit binaries.

[2020-12-08 17:00] #125 closed

[2020-12-08 17:01] m4gr3d commented on #125
@motorsep You can follow the instructions on the [`README`](https://github.com/GodotVR/godot_oculus_mobile/releases) to find out how to install the binary in your Godot project.

[2020-12-08 17:05] m4gr3d commented on #126
I believe [@NeoSpark314's toolkit](https://github.com/NeoSpark314/godot_oculus_quest_toolkit) fits that bill.

[2020-12-08 17:12] m4gr3d commented on #126
@motorsep The [Godot XR discord](https://discord.gg/9UHYHcM) is also a good place to find more about available resources for VR development in Godot!

[2020-12-08 17:14] #121 closed

[2020-12-21 06:39] NeoSpark314 commented on #68
https://github.com/godotengine/godot/issues/44546 fixed it.

[2020-12-21 06:39] #68 closed

[2021-02-09 17:31] mgschwan opened #127 "Head transformation may be invalid"
When the ARVRInterface is initialized the Oculus SDK may provide invalid position and orientation.
The SDK signals this with the flags
VRAPI_TRACKING_STATUS_ORIENTATION_VALID  and VRAPI_TRACKING_STATUS_POSITION_VALID

Those are not checked by the plugin and invalid data is sent to the engine. This causes release builds too crash.

Here is a patch to prevent it.

[invalid_head_tracker_position_fix.

[2021-02-10 00:21] #127 closed

[2021-02-14 17:58] clutteroth opened #129 "Cannot download asset from AssetLib"
The download link for version 3.0.1 in the Godot AssetLib appears to be broken:
https://godotengine.org/asset-library/asset/500
https://github.com/GodotVR/godot-oculus-mobile-asset/archive/d4a24127f38b80b0a05d8e4406cdcd51e2eb98bf.zip

[2021-02-16 00:36] BastiaanOlij commented on #129
Looking into this, waiting for Akien or Calinou to have a look what I missed but I think they've gone to bed already :)

[2021-02-16 07:48] akien-mga commented on #129
The URL is wrong, "godot_oculus_mobile" here but "godot-oculus-mobile" on the assetlib.

[2021-02-16 10:03] BastiaanOlij commented on #129
Just for future reference, the source repo is `godot_oculus_mobile`, the asset repo is `godot-oculus-mobile-asset`, so annoying we need to split that because we can't expose just a folder or the release zips in the asset library (hopefully some day soon).

For some reason it had the wrong commit string, I think the commit string was from the source repo while it should have the commit string from

[2021-02-17 20:02] clutteroth commented on #129
It's working now. Thank you!

[2021-02-17 20:02] #129 closed

[2021-03-13 12:24] muevoid opened #130 "GearVR oculus update required"
I have been attempting to get this up and running for the gearvr to test it. I got the demo app building and chose 6dof Or 3dof for mode type and set hand tracking to optional. However when installing the app and running it. It starts but then says oculus update required and goes to oculus home. Any ideas?

[2021-03-13 15:02] m4gr3d commented on #130
@muevoid The master branch uses the latest Oculus mobile sdk and as such it doesn't support `gear vr` as it's been  deprecated by Oculus.

There's an `oculus_go` branch made for that purpose so you could try that and see if that works.
Bear in mind that branch is no longer supported by us in order to focus our efforts, so we may accept pull requests for it, but we'd not be able to provide assistan

[2021-03-13 15:31] muevoid commented on #130
Thank you letting me know about the branch. Tested it out unfortunately does not seem to work just has a black screen I appreciate you trying to help though. Thanks!

[2021-03-13 15:31] #130 closed

[2021-04-29 13:42] goatchurchprime opened #133 "Controller positions mishandle worldscale in versions since v3.0.1"
I think there's been a regression on https://github.com/GodotVR/godot_oculus_mobile/issues/103

I am using the precompiled (and later) version of the godot_ovrmobile available here:  https://github.com/NeoSpark314/godot_oculus_quest_toolkit/tree/master/addons/godot_ovrmobile

Set the world_scale to 2 and your controllers are once again high up above you.  This doesn't happen with the v3.0.1 assetl

[2021-04-29 13:46] NeoSpark314 commented on #133
I think if this does not happen with the v3.0.1 asset lib version it is probably only an issue with the version used in the toolkit. The toolkit version is still based on 1.0 of the godot_oculus_mobile plugin.

[2021-04-29 15:57] goatchurchprime commented on #133
Looks like it's because the godot_ovrmobile committed with the OQ_Toolkit is very old. It's hard to tell this because its files have been touched recently.  It would be nice to bring it up to date. I don't know what the reasons for not doing so are.

[2021-04-29 15:57] #133 closed

[2021-06-19 09:14] BastiaanOlij commented on #126
We also have https://github.com/GodotVR/godot-xr-tools, but it's getting a little dated :)

[2021-06-21 16:00] #126 closed

[2021-07-18 19:03] BracerJack opened #135 "Just a friendly reminder that the version in the asset store is still 3.0.1"
Just a friendly reminder that the version in the asset store is still 3.0.1.
Hopefully the person in charge will update it to the current version 3.1.0.

[2021-07-19 01:42] BastiaanOlij commented on #135
@m4gr3d do we have a plan yet for releasing the current build?

[2021-07-19 01:44] BastiaanOlij commented on #135
Btw @m4gr3d , on that subject, we changed both the OpenXR and OpenVR plugins so the CI builds a releasable zip file. It takes nudging Calinou to make some changes behind the scenes as only admins of the asset library can change the download link but it takes away the need to have a separate -asset repo, we should probably do the same here.

[2021-07-19 03:02] BenMcLean commented on #135
I really appreciate all the work you guys do on these VR plugins!

I am on a super old version. Any changes I should make when upgrading?

Also, are there plans to make an OpenXR Android plugin so as to remove the dependency on Facebook? There is [at least one Android headset for consumers to compete with the Quest in the works](https://youtu.be/e7tnFtKvPPw) and they're saying it'll support OpenXR

[2021-07-19 03:26] BastiaanOlij commented on #135
@BenMcLean The latest version uses the new deployment with Android templates so you'll need to get familiar with that way of working and that files are placed in different places. We actually need a good write up of that process.

As for OpenXR, the problem at this point is that Android support is still not official for OpenXR.
Now Oculus did release an OpenXR runtime for Quest but it requires com

[2021-08-03 15:26] mikotalik opened #136 "ovr_display.get_supported_display_refresh_rates() returns only 60hz and 72hz on Oculus Quest 2"
While tinkering with the Oculus Mobile Demo I noticed that it's running in 72hz mode on the Quest 2 despite the line setting it to 90hz if ovr_system.is_oculus_quest_2_device() is True:

This line:
`print("Display refresh rates: " + str(ovr_display.get_supported_display_refresh_rates()))`
prints [60,72]
and not [60,72,90] as it should
(and it should list even the 120hz mode which you can turn on i

[2021-08-03 16:35] Wavesonics commented on #136
Probably you are missing the manifest declaration that you support Quest 2

[2021-08-03 17:15] mikotalik commented on #136
After adding this line into AndroidManifest.xml, it still does not work. I'm probably missing something:

`
<meta-data android:name="com.oculus.supportedDevices" android:value="quest|quest2"/>
`

I got it from https://developer.oculus.com/documentation/native/android/mobile-native-manifest/

[2021-08-03 18:49] mikotalik commented on #136
I probably found the issue. I was not using custom build. Enabling it throws error `General error during semantic analysis: Unsupported class file major version 60`
which probably means I have to upgrade Java. Closing

[2021-08-03 18:49] #136 closed

[2021-08-19 21:43] dav opened #137 "Export APK works fine, but unable to run in Godot API "No library set fot this platform""
I am on Ubuntu Linux on an Intel laptop, running Godot v3.3.2.stable.official.

I have created the example project as outlined [here](https://godotengine.org/article/godot-oculus-quest-support)

I can export the project as an APK, load it on my Quest and it runs fine.

However when I attempt to run the project in the IDE, the `preload("res://addons/godot_ovrmobile/OvrInitConfig.gdns")` is returnin

[2021-08-20 00:28] BenMcLean commented on #137
I am getting this "No library set for this platform" message every time my program starts on PC but it doesn't prevent the program from running so I haven't looked too much into it. But it could be godot oculus mobile trying to load on PC when it should only load on Android.

[2021-10-14 11:46] clktmr opened #138 "Lag between ARVRCamera and ARVROrigin when moving"
Moving the ARVROrigin in `_process()` causes a visible delay of the controllers and other child nodes of ARVROrigin. This can be reproduced by the asset's example scene [arvr_origin.tscn](https://github.com/GodotVR/godot-oculus-mobile-asset/blob/master/addons/godot_ovrmobile/example_scenes/arvr_origin.tscn). The same happens when the parent of ARVROrigin is moving, although in that case the workar

[2021-10-19 23:09] BastiaanOlij commented on #138
This is a rather annoying problem in the core that we've only discovered recently and still aren't sure why it is happening. The positions of the camera and controller are updated behind the scenes inside their own process functions. Behind the scenes Godot maintains both the local transform of the object (relative to its parent) and the global position of the object (used for rendering).
If the p

[2021-10-20 05:04] clktmr commented on #138
Thanks for the in-depth response.  This makes much more sense now.

The workaround is easily applicable to my use-case.  Feel free to close this issue as `wont-fix`.

Since it was a known issue, is it documented elsewhere?  I was surprised to not find anything about it, although I stumbled over it so early.

[2021-11-27 17:34] balintmaci commented on #72
same problem, can't render 2D stuff on main viewport

[2021-11-28 23:34] knochenhans commented on #110
Hi, I’m really interested in using HRTF on the Oculus Quest in Godot as I consider it essential for VR. Did anything ever came out of this?

[2021-11-29 00:12] ellenhp commented on #110
I did manage to integrate resonance audio into godot, but it broke with a recent change for 4.0. @fire has been working on fixing it I think. He also maintained a 3.x branch of the audio spatialization code for a while.

[2021-11-30 21:20] walking-octopus opened #140 "Add support for Passthrough API"
See [developer.oculus.com/documentation/unity/unity-passthrough](https://developer.oculus.com/documentation/unity/unity-passthrough/) for reference.

[2021-11-30 21:38] m4gr3d commented on #140
Passthrough support was already added to the [Godot OpenXR plugin](https://github.com/GodotVR/godot_openxr).

Oculus has [deprecated its vrapi API](https://www.roadtovr.com/oculus-openxr-shift-unity-unreal-engine/) upon which this plugin is built, so there should be no further updates to this plugin going forward.

[2021-11-30 21:38] #140 closed

[2021-11-30 21:52] walking-octopus commented on #140
Thanks! Most of the documentation didn't mention this got deprecated. Have a good day!

[2021-11-30 22:36] m4gr3d commented on #140
The OpenXR plugin got stable not too long ago, so we're still in the process of updating and refactoring the main Godot source code accordingly and as a result this plugin got inadvertently neglected.

Once we complete the update to the main Godot Engine code, we'll update the documentation accordingly.

Thanks!

[2021-12-14 04:13] jakobbouchard commented on #122
Hey! I’m currently building an app using Godot, targeting the Quest headsets and was wondering, if there’s no support for the keyboard, how would I get text input in VR? Do I need to implement my own keyboard?

Also, from what I’m understanding from the other issues, Oculus is deprecating their API in favour of OpenXR. How will this affect this plugin?

[2021-12-14 13:31] BenMcLean commented on #122
AFAIK, yes. Personally, I'm having to flat out design my app differently to avoid text input because of this.

[2021-12-15 15:52] m4gr3d commented on #135
@BastiaanOlij I've updated the oculus mobile asset github repo with the latest shared libraries: https://github.com/GodotVR/godot-oculus-mobile-asset/releases/tag/v3.3.0

So you should be able to update the asset store accordingly!

[2021-12-15 17:06] m4gr3d commented on #122
@jakobbouchard As you mention, due to the deprecation of Oculus `vrapi` in favor of OpenXR, this plugin will be shortly deprecated. We'll be updating the repo `README` to reflect that state.

As such, we're planning to add support for the Oculus platform keyboard in the https://github.com/GodotVR/godot_openxr plugin instead.
The OpenXR plugin will be the default Godot plugin used to support VR on

[2021-12-15 17:06] #122 closed

[2021-12-15 17:29] jakobbouchard commented on #122
Are most Quest-specific features already supported in the OpenXR plugin? Hand tracking for example?

[2021-12-15 18:17] m4gr3d commented on #122
Yes they are!
We have one remaining issue with color correction to address, but asides from that, the plugin is ready for use.

The version to start testing against should be `1.1.1`.

[2021-12-15 18:24] jakobbouchard commented on #122
I don't see version 1.1.1 in the releases, only 1.1.0. Not sure how to build it myself, but I might try. Unless the latest automatic build 780fbbb is good to go?

[2021-12-15 19:27] m4gr3d commented on #122
@jakobbouchard There are a couple remaining features before we release it as stable. Prior to this version, hand tracking is broken on the Quest, hence why I'm recommending it as a starting point.

The latest automatic build should have the necessary prebuilt libraries. Once you have them, you can follow [these instructions](https://github.com/GodotVR/godot_openxr#prebuild-libraries).

[2021-12-15 19:27] m4gr3d commented on #122
cc @BastiaanOlij

[2021-12-16 21:54] BastiaanOlij commented on #122
I don't think there is virtual keyboard support in the OpenXR spec, this sounds like a platform dependent feature that should be added to the Oculus platform plugin?

Also creating a virtual keyboard in Godot itself shouldn't be a hard thing to do and then you have a solution that is portable between multiple platforms, something that would fit well in a toolkit such as xr-tools or neosparks toolk

[2021-12-17 05:15] BastiaanOlij commented on #135
Updated, just awaiting approval

[2021-12-17 16:12] BracerJack commented on #135
Very exciting ! Just updated mine ! Thanks for the notification AND your hardwork !

[2021-12-17 16:27] m4gr3d commented on #135
@BracerJack Just a reminder though that this'll be the last release for this plugin given the API it uses was deprecated by Meta.

Whenever possible I'd recommend evaluating migration to the Openxr plugin.

Let us know if you have any questions!

[2021-12-17 21:18] #135 closed

[2021-12-18 00:50] BastiaanOlij commented on #122
@m4gr3d Never said it was easy, looking at the immense work that has gone into Godot to support Arabic and eastern languages, I don't even know where to start designing a keyboard implementation that supports this (I would stick to what I know and create a QWERTY based virtual keyboard and hope contributors step up and build ontop of that).

It's just that I think a keyboard implementation should

[2021-12-18 02:52] BenMcLean commented on #122
I wish Godot had the power to tell the OpenXR-compatible runtimes, "No, you will implement the spec." But unfortunately, you are right. It'll have to be in the game engine.

[2022-02-02 13:44] fire commented on #110
https://github.com/V-Sekai/godot/tree/feature/spatial-audio is my branch with a demo project at https://github.com/V-Sekai/godot-spatial-audio-project

[2022-02-08 21:16] m4gr3d commented on #110
@fire Do you plan to open a PR to integrate your spatial audio changes?

[2022-02-08 22:20] fire commented on #110
I am currently spread thin, so I wasn't expecting to open a pull request to Godot Engine 4.0.

@ellenhp and I didn't have a good design for the Resonance Audio technology so the api is jankly integrated.

Assistance welcome and appreciated.

We sketched out a design where we extract the ambisonic coding from the Resonance library, but I'm more focused on game related things.

There was also a reve

[2022-02-09 00:44] ellenhp commented on #110
Yeah, there are a few things we could do. Reduz made a proposal for one way we could add spatial audio if I remember right. But doing it in a non-disruptive way to the rest of the engine is tricky and would take a lot of work. Depending on how much of a hurry you're in to get something working I'd consider forcing Godot into 7.1 mode and applying a HRIR to each channel during down-mixing to stereo

[2022-04-26 00:01] ShawkMusic commented on #124
How is support for Vulkan coming along?

[2022-10-04 11:58] eried opened #143 "Meta Quest 2"
Is this still the way to use godot in the quest 2? I am somehow confused by the multiple plugins

[2022-10-05 13:30] m4gr3d commented on #143
@eried This plugin is deprecated. You can find an updated documentation for how to use Godot on the Quest 2 at https://docs.godotengine.org/en/stable/tutorials/vr/index.html#xr-ar-vr

[2022-10-05 13:30] #143 closed, assigned to nobody